In [1]:
import numpy as np
import pandas as pd

In [2]:
# install xlrd first
df = pd.read_excel('test_data.xls')

In [3]:
df[:5]

,ship_name,ship_mobile,order_id,total_amount,final_amount,pay_status,ship_status,is_delivery,try_order,erp_order_id,...,fuzzy,longitude,latitude,scalping,out_trade_no,autoSendErp,autoSendErpStatus,string_tag_id,lang,delivery_note_price
0,姐客戶,16143836292,170102235550041,34.0,34.0,1,1,Y,False,1,...,0,121.523968,31.234887,False,17010223555004121975,True,0,NaN,simplified_chinese,display
1,五客戶,16594905358,170101065127820,128.0,128.0,1,1,Y,False,1,...,0,121.408443,31.200488,False,17010106512782056120,True,1,NaN,simplified_chinese,display
2,五客戶,16594905358,170101065736249,115.2,115.2,1,1,Y,False,1,...,0,121.408443,31.200488,False,17010106573624966317,True,1,NaN,simplified_chinese,display
3,五客戶,16594905358,170102211599793,84.0,84.0,1,1,Y,False,1,...,0,121.408443,31.200488,False,17010221159979331708,True,1,NaN,simplified_chinese,display
4,五客戶,16594905358,170104110758077,239.5,239.5,0,0,Y,False,1,...,0,121.408443,31.200488,False,17010411075807767248,True,0,NaN,simplified_chinese,display